html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
}

.button-input, .submit {
    /*! width: 40px; */
    /*border: 1px solid black;*/
    border-radius: 6px;
    background-color: white;
    margin: 5px;
    display: inline-block;
    text-decoration: none;
    color: black
}

.submit {

}

.button-input:hover, .submit:hover {
    transition: 0.1s;
    /*! border: 1px solid gray; */
    background-color: lightgrey;

    display: inline-block;
}

.button-input-selected {
    text-decoration: none;
    /*     color: white; */
    border-radius: 6px;
    /*     background-color: green; */
    display: inline-block;
    margin: 5px;
}

.red {
    color: red;
    font-weight: bold;
}

.green {
    color: green;
    font-weight: bold;
}