html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
}

.button-input, .submit {
    /*! width: 40px; */
    /*border: 1px solid black;*/
    border-radius: 6px;
    background-color: lightyellow;
    margin: 1px;
    display: inline-block;
    text-decoration: none;
    color: black
}

.button-input:hover, .submit:hover {
    color: white;
    transition: 0.5s;
    /*! border: 1px solid gray; */
    background-color: forestgreen;
    margin: 1px;
    display: inline-block;
}

.button-input-selected {
    text-decoration: none;
    /*     color: white; */
    border-radius: 6px;
    /*     background-color: green; */
    margin: 1px;
    display: inline-block;
}